.history_header_image {
    background: linear-gradient(180deg, #284CAABD 0%, #03051DA3 100%), url("/public/itbb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px; 
}